<div class="col-12 mt-2">
    <input type="hidden" id="search-clarinurl" value="{{ vcrUrl }}">
    <a href="#" class="btn btn-arche-blue w-100 smartsearch-btn" id="getClarinVCR">{{ "Add to CLARIN Virtual Collection"|trans }}</a>
    <div id="vcr-search-form"></div>
    <div id="vcr-search-result"><span class="res-title" id="vcr-search-result-text"></span></div>
    <div id="vcr-data-loading" style="display:none"><span class="res-title">{{ "VCR Data Loading..."|trans }}</span></div>
    
</div>


