<div class="card metadata">
    <div class="card-header">
        <div class="row justify-content-center align-items-center">
            <div class="col-10"><h6 class="mb-0 pb-0">{{ "Funding"|trans }}</h6></div>
            <!-- <div class="col-2"><img src="{{arche_tooltip_ico}}" class="tooltip-icon-cards"></div>-->
            <div class="col-2 text-end">
                <a class="btn btn-link mdr-card-collapse-btn" data-bs-toggle="collapse" data-bs-target="#fundingBody">
                    <i class="fa fa-solid fa-chevron-up"></i>
                </a>
            </div>
        </div>

    </div>
    <div id="fundingBody" class="collapse show">
        <div class="card-body meta-sidebar flex-column">


            {% if data.getData('acdh:hasFunder')  %}
                {{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                    {'data': data.getData('acdh:hasFunder'), 'label':  'Funder' } ) }}
            {% endif %}    

            {% if (data.getAcdhType()|lower == 'project') or (data.getAcdhType()|lower == 'topcollection' ) %}
                {% if data.getData('acdh:hasNonLinkedIdentifier')  %}
                    {{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', 
                        {'data': data.getData('acdh:hasNonLinkedIdentifier'), 'label':  'Project number' } ) }}
                {% endif %}    
            {% endif %}    

        </div>
    </div>
</div>