<div class="card metadata">
    <div class="card-header">
        <div class="row">
            <div class="col-8"><h6>{{ "Licenses"|trans }}</h6></div>
            <div class="col-2"><img src="{{arche_tooltip_ico}}" class="tooltip-icon"></div>
            <div class="col-2 text-end">
                <a class="btn btn-link mdr-card-collapse-btn" data-bs-toggle="collapse" data-bs-target="#licensesBody">
                    <i class="fa fa-solid fa-chevron-up"></i>
                </a>
            </div>
        </div>
        
    </div>
    <div id="licensesBody" class="collapse show">
        <div class="card-body meta-sidebar flex-column">
            {% for key, value in obj %}
                <b>{{ key|trans }}:</b><br>  
                {% for val in value %}
                    {{ val }} <br>
                {% endfor %}    
                <br>
            {% endfor %}
        </div>
    </div>
</div>