<div class="card metadata">
    <div class="card-header">
        <h6>{{ "Map"|trans }}</h6>
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseExample">
               open
            </button>
    </div>
    <div id="collapseExample" class="collapse">
        <div class="card-body">
            <!-- Your hideable content goes here -->
            <p>This is the hideable content.</p>
        </div>
    </div>
</div>