<div class="card metadata">
    <div class="card-header">
        <div class="row">
            <div class="col-8"><h6>{{ "Source"|trans }}</h6></div>
            <div class="col-2"><img src="{{arche_tooltip_ico}}" class="tooltip-icon"></div>
            <div class="col-2 text-end">
                <a class="btn btn-link mdr-card-collapse-btn" data-bs-toggle="collapse" data-bs-target="#sourceBody">
                    <i class="fa fa-solid fa-chevron-up"></i>
                </a>
            </div>
        </div>
       
    </div>
    <div id="sourceBody" class="collapse show">
        <div class="card-body">
            <!-- Your hideable content goes here -->
            {% for key, value in data %}
                {{ key }} : {{ value.value }} <br>
            {% endfor %}
        </div>
    </div>
</div>