<div class="card metadata">
    <div class="card-header">
        <h6>{{ "Source"|trans }}</h6>
        <h5 class="mb-0">
            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#sourceBody">
                Toggle Content
            </button>
        </h5>
    </div>
    <div id="sourceBody" class="collapse show">
        <div class="card-body">
            <!-- Your hideable content goes here -->
            <p>This is the hideable content.</p>
        </div>
    </div>
</div>