
{% set properties = {
    'acdh:hasPid': {
        'icon': 'fingerprint',
        'label': 'PID'
    },
    'acdh:hasPrincipalInvestigator': {
        'icon': 'device_hub',
        'label': 'Principal Investigator(s)'
    },
    'acdh:hasContact': {
	'icon': 'person_add',
        'label': 'Contact(s)'
    },
    'acdh:hasEditor': {
        'icon': 'people',
        'label': 'Editor(s)'
    },
    'acdh:hasAuthor': {
        'icon': 'people',
        'label': 'Author(s)'
    },
    'acdh:hasCreator': {
        'icon': 'people',
        'label': 'Creator(s)'
    },
    'acdh:hasDigitisingAgent': {
        'icon': 'people',
        'label': 'Digitising Agent(s)'
    },
    'acdh:hasContributor': {
        'icon': 'person',
        'label': 'Contributor(s)'
    },    
    'acdh:hasCreatedStartDate': {
        'icon': 'today',
        'label': 'Created Start Date',
        'type': 'date',
        'dateformat': 'd MMM y'
    },
    'acdh:hasCreatedEndDate': {
        'icon': 'today',
        'label': 'Created End Date',
        'type': 'date',
        'dateformat': 'd MMM y'
    },
    'acdh:hasAvailableDate': {
        'icon': 'today',
        'label': 'Available Date',
        'type': 'date',
        'dateformat': 'd MMM y'
    },
    'acdh:hasExtent': {
        'icon': 'dehaze',
        'label': 'Extent'
    },
    'acdh:hasNumberOfItems': {
        'icon': 'attachment',
        'label': 'Number of Items'
    },
    'acdh:hasBinarySize': {
        'icon': 'attachment',
        'label': 'Binary Size',
        'type': 'binary'
    },
    'acdh:hasCategory': {
        'icon': 'sort',
        'label': 'Category'
    },
    'acdh:hasSchema': {
        'icon': 'format_list_bulleted',
        'label': 'Schema'
    },
    'acdh:hasLicensor': {
        'icon': 'copyright',
        'label': 'Licensor'
    },
    'acdh:hasLicense': {
        'icon': 'copyright',
        'label': 'License'
    },
    'acdh:hasOwner': {
        'icon': 'copyright',
        'label': 'Owner'
    },
    'acdh:hasAccessRestriction': {
        'icon': 'copyright',
        'label': 'Access Restriction'
    },
    'acdh:hasUrl': {
        'icon': 'web',
        'label': 'Url'
    },
    'acdh:isMetadataFor': {
        'icon': 'assignment',
        'label': 'Metadata'
    },
    'acdh:isObjectMetadataFor': {
        'icon': 'assignment',
        'label': 'Object Metadata'
    },
    'acdh:hasIdentifier': {
        'icon': 'label',
        'label': 'Identifier(s)',
        'delimiter': ',<br>'
    },
    'acdh:hasRelatedProject': {
        'icon': 'track_changes',
        'label': 'Related Project(s)'
    },
    'acdh:isNewVersionOf': {
        'icon': 'label',
        'label': 'Previous Version'
    },
    'acdh:isPartOf': {
        'icon': 'device_hub',
        'label': 'Part of'
    },
    'rdfs:seeAlso': {
        'icon': 'library_books',
        'label': 'See Also'
    }
}
%}

<div class="arche-detail-view" >
    <div class="arche-detail-main" id="arche-dv-main">
                
        <div class='row'>
            <div class="res-inside-wrap col-lg-12 ">
                {% for key, value in properties %}
                    {% if data.getData(key) %}
                        {{ include(arche_core_gui_path ~ '/templates/helper/helper-displayFields.html.twig', {'data': data.getData(key), 'icon': value.icon, 'label':  value.label, 'type': value.type, 'dateformat': value.dateformat, 'delimiter': value.delimiter } ) }}
                    {% endif%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>    
