{{ attach_library('arche_core_gui/dissemination-tei') }}

<div id="tei-container">
    <h2>{{ "TEI Document"|trans }}</h2>
    <div id="tei-content" >
        <iframe type="text/plain"  src="{{ teiUrl }}?skipContentDisposition=true" class="tei-iframe" ></iframe>
    
    </div>
</div>
