<script src="/browser/modules/contrib/arche_core_gui/js/audio/wavesurfer.6.4.0.js"></script>

<div class="container">
    <div class="row justify-content-center text-center">

        <div class="col-lg-12">
            <div class="arche-audio-player-container">
                <div id="waveform"></div>
                <div id="waveform-progress"> </div>
                <div id="loader" style="display: none;">Audio is loading...</div>
                <div class="controls" style="text-align: center;">
                    <button class="ms-auto btn btn-arche-blue" data-action="play" id="audioPlayerBtn">
                        <i class="glyphicon glyphicon-play"></i>
                        Play
                        /
                        <i class="glyphicon glyphicon-pause"></i>
                        Pause Audio
                    </button>
                </div>
            </div>
        </div>    
    </div>
</div>

<script type="text/javascript">
    $(document).delegate("#audioPlayerBtn", "click", function (e) {
        console.log("clicked");
        document.getElementById('loader').style.display = 'block';
        document.getElementById("waveform-progress").innerHTML = "";
        var player = WaveSurfer.create({container: '#waveform', waveColor: 'violet',
            progressColor: 'purple', });
        // Show loader when audio starts loading
        player.on('loading', (progress) => {
            document.getElementById('waveform-progress').style.display = 'block';
            document.getElementById("waveform-progress").innerHTML = progress+ "%";
        });

        player.on('ready', function () {
            document.getElementById('waveform-progress').style.display = 'none';
            document.getElementById('loader').style.display = 'none';
            player.play();
        });

        player.on('error', (error) => {
            //document.getElementById('loader').style.display = 'none';
            console.error('Error loading audio:', error);
            $('#loader').html('Failed to load audio. Please try again or check the audio source.');
        });

        player.load('{{ data.getRepoUrl() }}');
        // toggle play button
        document
                .querySelector('[data-action="play"]')
                .addEventListener('click', player.playPause.bind(player));

    });
</script>