detail view

<div class="container" style="background-color: red;">
    <div class="row"  style="background-color: blue;">
        <div class="col-lg-9 metadata-breadcrumb"  style="background-color: yellow;">
            BREADCRUMB
        </div>
        <div class="col-lg-3 metadata-expert"  style="background-color: green;">
            EXPERT VIEW
        </div>
    </div>
</div>

<div class="container" style="background-color: red;">
    <div class="row"  style="background-color: blue;">
        <div class="col-lg-9 metadata-main"  style="background-color: yellow;">
            MAIN
        </div>
        <div class="col-lg-3 metadata-right"  style="background-color: green;">
            RIGHT SIDE
            
        </div>
    </div>
</div>
