{{ attach_library('arche_core_gui/home-page') }}
<div class="container-fluid arche-home-collections-slider">

    <div id="home-collections-slider-loader"><img src="{{ base_path ~ directory }}/images/arche_logo_flip_47px.gif" /></div>



    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col">
                <div class="my-5 text-center">
                    <p class="section-header-title-small">{{ "COLLECTIONS"|trans }}</p>
                    <p class="section-header-title">{{ "Latest Resources"|trans }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid collections-container">
        <div class="row">

            <div class="container mb-5">
                <div class="loader" id="home-slider-loader"></div>
                <div id="multi-item-carousel" class="carousel slide" data-bs-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" >
                            <div class="row" id="home-carousel-first-page">
                            </div>
                        </div>
                        <div class="carousel-item" >
                            <div class="row" id="home-carousel-second-page">
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="carousel-control-prev" href="#multi-item-carousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#multi-item-carousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>



