detail view

<div class="container">
    <div class="row">
        <div class="col-lg-9 metadata-breadcrumb" >
            BREADCRUMB
        </div>
        <div class="col-lg-3 metadata-expert"  >
            EXPERT VIEW
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9 metadata-main basic-content-div" >
            MAIN
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 ">
                        Available date
                    </div>
                    <div class="col-lg-6 ">
                        rdf:type
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 ">
                        <h3>Title</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 ">
                       CITATION
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-3 metadata-right" >
            RIGHT SIDE
            
        </div>
    </div>
</div>
