
<div>
    <ul class="nav navbar-nav">
        <li class="cart-content">
            <a href="/browser/cart" class="cart-link">
                <i class="fas fa-shopping-cart" style="color: #3B89AD"></i> 
                <p id="cart-items-header-menu" class="cart-items-content"></p>
            </a>
        </li>
    </ul>
</div>
